In [24]:
pip install pandas

Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\osman\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\osman\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\osman\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\osman\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\osman\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\osman\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [25]:
import pandas as pd

In [26]:
data = {
    "Math": [85, 78, 92, 60, 74, 88],
    "Science": [80, 82, 89, 65, 70, 90],
    "English": [75, 85, 78, 55, 72, 88],
    "History": [70, 75, 80, 50, 68, 82]
}

In [27]:
students = ["Student1", "Student2", "Student3", "Student4", "Student5", "Student6"]

In [28]:
exam_scores = pd.DataFrame(data, index=students)

In [29]:
print("First three rows:\n", exam_scores.head(3))

First three rows:
           Math  Science  English  History
Student1    85       80       75       70
Student2    78       82       85       75
Student3    92       89       78       80

In [30]:
num_students, num_subjects = exam_scores.shape
print(f"Total students: {num_students}, Total subjects: {num_subjects}")

Total students: 6, Total subjects: 4

In [31]:
num_students, num_subjects = exam_scores.shape
print(f"Total students: {num_students}, Total subjects: {num_subjects}")

Total students: 6, Total subjects: 4

In [32]:
print("Subjects:", list(exam_scores.columns))
print("Students:", list(exam_scores.index))

Subjects: ['Math', 'Science', 'English', 'History']
Students: ['Student1', 'Student2', 'Student3', 'Student4', 'Student5', 'Student6']

In [33]:
print("Data types:\n", exam_scores.dtypes)

Data types:
 Math       int64
Science    int64
English    int64
History    int64
dtype: object

In [34]:
print("Missing values:\n", exam_scores.isnull().sum())

Missing values:
 Math       0
Science    0
English    0
History    0
dtype: int64

In [35]:
print("Student 3 scores:\n", exam_scores.loc["Student 3"])

KeyError: 'Student 3'

In [36]:
print("Student3 scores:\n", exam_scores.loc["Student3"])

Student3 scores:
 Math       92
Science    89
English    78
History    80
Name: Student3, dtype: int64

In [37]:
print("Math scores:\n", exam_scores["Math"])

Math scores:
 Student1    85
Student2    78
Student3    92
Student4    60
Student5    74
Student6    88
Name: Math, dtype: int64

In [39]:
print("Selected scores:\n", exam_scores.loc[["Student1", "Student4"], ["Science", "English"]])

Selected scores:
           Science  English
Student1       80       75
Student4       65       55

In [40]:
print("First 4 students, first 3 subjects:\n", exam_scores.iloc[:4, :3])

First 4 students, first 3 subjects:
           Math  Science  English
Student1    85       80       75
Student2    78       82       85
Student3    92       89       78
Student4    60       65       55

In [41]:
print("Student5 History score:", exam_scores.loc["Student5", "History"])

Student5 History score: 68

In [42]:
exam_scores.at["Student2", "Math"] = 85
print("Updated scores:\n", exam_scores)

Updated scores:
           Math  Science  English  History
Student1    85       80       75       70
Student2    85       82       85       75
Student3    92       89       78       80
Student4    60       65       55       50
Student5    74       70       72       68
Student6    88       90       88       82

In [43]:
exam_scores.loc["Student7"] = [90, 85, 88, 80]
print("After adding Student7:\n", exam_scores)

After adding Student7:
           Math  Science  English  History
Student1    85       80       75       70
Student2    85       82       85       75
Student3    92       89       78       80
Student4    60       65       55       50
Student5    74       70       72       68
Student6    88       90       88       82
Student7    90       85       88       80

In [44]:
exam_scores += 5
print("After adding bonus marks:\n", exam_scores)

After adding bonus marks:
           Math  Science  English  History
Student1    90       85       80       75
Student2    90       87       90       80
Student3    97       94       83       85
Student4    65       70       60       55
Student5    79       75       77       73
Student6    93       95       93       87
Student7    95       90       93       85

In [45]:
exam_scores.loc["Student4"] -= 3
print("After deducting marks from Student4:\n", exam_scores)

After deducting marks from Student4:
           Math  Science  English  History
Student1    90       85       80       75
Student2    90       87       90       80
Student3    97       94       83       85
Student4    62       67       57       52
Student5    79       75       77       73
Student6    93       95       93       87
Student7    95       90       93       85

In [46]:
percentage_scores = (exam_scores / 100) * 100
print("Percentage scores:\n", percentage_scores)

Percentage scores:
           Math  Science  English  History
Student1  90.0     85.0     80.0     75.0
Student2  90.0     87.0     90.0     80.0
Student3  97.0     94.0     83.0     85.0
Student4  62.0     67.0     57.0     52.0
Student5  79.0     75.0     77.0     73.0
Student6  93.0     95.0     93.0     87.0
Student7  95.0     90.0     93.0     85.0

In [47]:
total_marks_per_student = exam_scores.sum(axis=1)
print("Total marks per student:\n", total_marks_per_student)

Total marks per student:
 Student1    330
Student2    347
Student3    359
Student4    238
Student5    304
Student6    368
Student7    363
dtype: int64

In [48]:
total_marks_per_subject = exam_scores.sum(axis=0)
print("Total marks per subject:\n", total_marks_per_subject)

Total marks per subject:
 Math       606
Science    593
English    573
History    537
dtype: int64

In [49]:
top_student = total_marks_per_student.idxmax()
print("Student with the highest total marks:", top_student)

Student with the highest total marks: Student6

In [50]:
lowest_subject = total_marks_per_subject.idxmin()
print("Subject with the lowest total marks:", lowest_subject)

Subject with the lowest total marks: History

In [51]:
average_marks_per_student = exam_scores.mean(axis=1)
print("Average marks per student:\n", average_marks_per_student)

Average marks per student:
 Student1    82.50
Student2    86.75
Student3    89.75
Student4    59.50
Student5    76.00
Student6    92.00
Student7    90.75
dtype: float64